@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
* {
  scrollbar-width: thin;
  scrollbar-color: black;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 9px;
}
*::-webkit-scrollbar-track {
  background: rgb(246, 246, 246);
  border-radius: 8px;
  max-height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #3f3d56ad;
  border-radius: 14px;
  max-height: 10px;
}
*::-webkit-scrollbar-thumb {
  min-height: 10px;
}
.btn-primary {
  @apply bg-[#3F3D56] mt-[5px] py-3 text-[17px] text-white uppercase font-medium font-["Gabarito"];
}
.input-primary {
  @apply my-2 w-[280px] border-[1px] rounded text-base placeholder-[#666666] placeholder:text-base placeholder:font-[500] px-3 py-[15px] border-[#C4C4C4];
}
.btn-primary-small {
  @apply bg-[#3F3D56] rounded mt-[5px] p-[4px] text-center flex justify-center items-center text-[16px] text-white uppercase font-medium font-["Gabarito"];
}
.form-links {
  @apply text-[16px] text-right text-blue-600 underline hover:text-blue-500;
}
.tag-primary {
  @apply shadow-sm py-0.5 px-2 font-normal rounded-[5px] cursor-pointer text-[15px] font-["Gabarito"];
}
.label {
  @apply font-["Gabarito"] p-0 m-0;
}
